
* {
    padding: 0px; 
    margin: 0px;
    box-sizing: border-box;

}

body {
    font-family: system-ui;
}


.button {
    background-color: #0d6efd;
    color: white;
    border-radius: 5px;
    padding: 20px;
    width: 110px
}

.title {
    background-color: #7d95de;
    padding: 20px;
}

.alternatives {
    background-color: #e5e7eb;
}

.paragraph:hover {
    background-color: yellow;
}

.paragraph {
    padding: 10px
}